@import '../../styles/colors.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
  padding: 10px 0px;
  height: 50px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      span {
        color: $base-color;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .nav_items {
      display: flex;

      .nav_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;
        position: relative;

        .icon {
          padding: 5px;
          color: rgba(51, 51, 51, 0.58);
        }

        .cart_count {
          width: 15px;
          height: 15px;
          background-color: crimson;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          border-radius: 50%;
          font-size: 12px;
          position: absolute;
          top: -5px;
          right: -5px;

        }
      }

      .nav_item:last-child {
        margin-right: 0px;
      }
    }

  }
}